.Nav
	background #eee
	padding 1em
	border-bottom 1px solid #ddd
	clear both
	box-sizing border-box
	width 100%
	height height
	h1
		margin 0 .4em 0 0
		padding 0
		line-height 1
		text-align center
		vertical-align middle
		font-size 1.4em
		color #7b7b7b
	ul, li
		line-height 1
		list-style none
		padding 0
		margin 0 auto
		height 100%
	li
		display table-cell
		text-align center
		vertical-align middle
	&.examples
		h1
			font-size 1.2em
