.Source
	background #3e3d3d
	border-radius .3em
	border .1em solid #3e3d3d
	pre
		height 52em
		font-size .8em
		transition .3s all ease-out
	&.hidden
		pre
			height 0
			padding 0
			overflow hidden
			margin 0
			transition .3s all ease-in

.link
	font-size .8em
	display inline-block
	height 100%
	width 100%
	vertical-align middle
	padding 1em
	border-bottom 0
	&:hover
		color #fdfdfd